@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500;700&display=swap");

html,
body {
  margin: unset;
  padding: unset;
  background-color: #1f1f1f;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  color: white;
}
.content {
  padding-left: 5vh;
  padding-right: 5vh;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 5vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  border-top: 5px solid #ff7d7d;
  border-radius: 20px 20px 0px 0px;
}
.buttons-wrapper a {
  all: unset;
  cursor: pointer;
  color: #7dffee;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid #ff7d7d;
  border-radius: 10000px;
  transition: 0.2s ease;
}
.buttons-wrapper a:hover {
  background-color: #ff7d7d;
  color: #1f1f1f;
}
a {
  border-bottom: 0px solid #ff7d7d;
  border-radius: 10000px;
  all: unset;
  cursor: pointer;
  color: #7dffee;
  transition: 0.2s ease;
}

a:hover {
  border-bottom: 2px solid #ff7d7d;
}

nav {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 5vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  z-index: 1;
  border-bottom: 5px solid #ff7d7d;
  border-radius: 0px 0px 20px 20px;
}
#input {
  min-width: 50px;
  max-width: 80%;
  background-color: #1f1f1f;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid #ff7d7d;
  border-radius: 10000px;
  transition: 0.2s ease;
}
#output {
  word-break: break-all;
  min-height: 28px;
  min-width: 50px;
  max-width: 80%;
  background-color: #1f1f1f;
  color: white;
  border: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem;
  margin: 1rem;
  border: 2px solid #ff7d7d;
  border-radius: 28px;
  transition: 0.2s ease;
}

.swup-transition-move {
  transition: 0.4s;
  opacity: 1;
  transform: translateY(0px);
}

html.is-animating .swup-transition-move {
  opacity: 0;
  transform: translateY(20px);
}